body { font-family: Cambria; font-size: 12pt; text-align: justify; margin: 2rem 5rem; } 

h1 { margin: 1rem -2rem; background-color: rgb(46,116,181); text-align:center; border-radius: 5px; font-size: 200%; font-weight: bold; color: white; padding: 5px; } 

h2 { font-size: 200%; font-weight: bold; margin-bottom: 1rem; } 

h3 { font-size: 140%; border-bottom: 1px solid black; margin-bottom: 1rem; margin-top: 2rem; font-weight: normal; }

p, li { margin-bottom: 0.5rem; } 

ul,ol {
  margin-left: 0;
  padding-left: 1rem;
}

blockquote {
	margin-left: 0;
	font-style: italic;
	font-size: 110%; 
	margin-top: 0.5rem; 
	font-weight: normal; 
}

ul > li::marker {
    content: '\2014  ';
}

table { width: 100%; border: 2px solid black; border-spacing: 0px; border-collapse: collapse; } 

td, th { border: 1px solid black; } 

.linetocompile { border-bottom: 0.5px solid gray; width: 100%; line-height: 2rem; } .break { page-break-before: always; } 
 
@media print {
 @page { size: A4; margin: 1cm; }
 body {margin: 0 2rem}
 h1 { margin: 1rem -1rem; }
}